<div class="container">
  <div class="row"><br><br>
    <h3 class="adsc">
      <i class="fa fa-calendar"></i> &nbsp;STUDENT</h3>
    <div class="col-md-12" style="padding-right: 0px;
     padding-left: 0px;">
      <div class="panel-heading plan-heading data">
        <ul>
          <li><span style="color:#787676;">Academic Group id</span> : AMS</li><span> </span>
          <li><span style="color:#787676;">School id</span> : Abacus Montessori School</li><span> </span>
          <li><span style="color:#787676;">Academic Group Name</span> : Abacus Montessori School</li><span> </span>
          <li><span style="color:#787676;">Weekday Start</span> : 12/12/2018</li><span> </span>
          <li><span style="color:#787676;">Number of Week Days</span> : 4</li><span> </span>
          <li><span style="color:#787676;">Start Class</span> :10 clk</li><span> </span>
          <li><span style="color:#787676;">End Class</span> : 3 clk</li><span> </span>
        </ul>
      </div>
    </div>