<div class="row">
  <div class="col-12 col-lg-6 mb-3">
    <div class="card dash-box-shadow">
      <div class="card-body">
        <h5 class="card-title">Parents - Enrolled</h5>
        <div #doughnutPieChart class="doughnut-pie-chart"></div>

      </div>
    </div>
  </div>
  <div class="col-12 col-lg-6 mb-3">
    <div class="card dash-box-shadow">
      <app-line-chart-page></app-line-chart-page>
    </div>
  </div>
</div>
<br>

<div class="row">
  <div class="col-12 col-lg-6 mb-3">
    <div class="card dash-box-shadow">
      <app-pie-chart-page></app-pie-chart-page>
    </div>
  </div>
  <div class="col-12 col-lg-6 mb-3">
    <div class="card dash-box-shadow">
      <div class="card-body">
        <h5 class="card-title">Academic Group Statistics</h5>
        <div #nestedPieChart class="nested-pie-chart"></div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row">
  <div class="col-12">
    <app-bubble-chart-page></app-bubble-chart-page>
  </div>
</div>
<br>