<div *ngIf="showdisplay === true">

<div _ngcontent-c6="" class="row">
  <div _ngcontent-c6="" class="col-12 col-md-12 mb-3" style=" padding-right: 1px;padding-left: 1px;">
    <h3 _ngcontent-c6="" class="adsc">
      <i class="material-icons ng-star-inserted">business</i> &nbsp;ASSIGN STUDENT TO ROUTE</h3>
  </div>
</div>

<div class="card" *ngIf = "showAssign">
  <div class="row" style="padding: 5px;">
    <div class="col-md-3">
      <div class="select-student">
        <label>SELECT STUDENT</label>
        <select class="form-control" style="background: #eaedef;" [(ngModel)]="schoolStudentId" name="schoolStudentId"
          value="" (change)="setStudentDetail($event.target.value)">
          <ng-container *ngFor="let data of allStudents">
            <option value="{{data.StudentId}}">{{data.FullName}}</option>
          </ng-container>
        </select>

      </div>
    </div>
    <div class="col-md-4">
      <div class="select-route">
        <label>SELECT ROUTE</label>
        <select class="form-control" style="background: #eaedef;" [(ngModel)]="selected_routeid" name="selected_routeid" value="" (change)="getWaypoints($event.target.value)">
          <ng-container *ngFor="let data of allRoutes">
            <option value="{{data.RouteId}}">{{data.RouteName}}</option>
          </ng-container>
        </select>
      </div>
    </div>

    <div class="col-md-4">
      <div class="select-waypoint">
        <label>SELECT WAYPOINT</label>
        <select class="form-control" style="background: #eaedef;" [(ngModel)]="selected_waypointId" name="selected_waypointId" value="">
          <ng-container *ngFor="let data of waypointsData">
            <!-- <option [ngValue]="selected_waypointId">{{selected_waypointId}}</option> -->
            <option value="{{data.WayPointId}}">{{data.WayPointName}}</option>
          </ng-container>
        </select>
      </div>
    </div>

    <div class="col-md-1 assign-button-pannel">
      <button type="button" class="btn btn-secondary excel" (click)="assignStudentRoute()"> <i
          class="material-icons ng-star-inserted" style="color: #fff !important;">add</i> Assign</button>
    </div>
  </div>
  <div class="row" style="padding: 5px;">
    <div class="col-md-3 d-flex">
      <label style="text-align: center;">STUDENT ADDRESS </label>
      <div class="student-address">
        <input disabled type="text" placeholder="STUDENT ADDRESS " style="margin-bottom: 5px;" [(ngModel)]="student_address" class="form-control col-md-12"
        name="student_address" value="" />
      </div>
    </div>
    <div class="col-md-8">
      <div class="areas_covered">
        <input disabled type="text" placeholder="AREAS COVERED" [(ngModel)]="areas_covered" style="margin-bottom: 5px;" class="form-control col-md-12"
        name="areas_covered" value="" />
      </div>
    </div>
    
  </div>
</div>
<hr />
<div class="card"><Br>
  <!-- <div *ngIf="deleteLoading" id="snackbar" class="show"> {{loadingmsg}}</div> -->
  <div class="headers">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <div class="select-route">
            <span>SELECT ROUTE</span>
            <select class="form-control" style="background: #eaedef;" [(ngModel)]="routeName" name="routeName" value="" (change)="studentsDetails($event.target.value)">
              <ng-container *ngFor="let data of allRoutes">
                <option value="{{data.RouteId}}">{{data.RouteName}}</option>
              </ng-container>
            </select>
          </div>
        </div>
      </div>
      <div class="row col-md-12">
        <div class="col-md-1">
          <div ngbDropdown class="dropdown-no-toggle btn-group hidden-phone delet" style="height: 40px;">
            <a ngbDropdownToggle class="btn mini blue" aria-expanded="false">
              Action
              <i class="fa fa-angle-down"></i>
            </a>
            <ul ngbDropdownMenu class="dropdown-menu">
              <li *ngIf='disablebutton==="true"'><a data-toggle="modal" data-target="#disable" data-uid="1"><i
                    class="fa fa-ban"></i> Disable</a></li>
              <li *ngIf='disablebutton==="false"'><a data-toggle="modal" data-target="#alert" data-uid="1"><i
                    class="fa fa-ban"></i> Disable</a></li>
              <li class="divider"></li>
              <li *ngIf='enablebutton==="true"'><a data-toggle="modal" data-target="#disable1" data-uid="1"><i
                    class="fa fa-check-circle-o"></i> Enable</a></li>
              <li *ngIf='enablebutton==="false"'><a data-toggle="modal" data-target="#alert" data-uid="1"><i
                    class="fa fa-check-circle-o"></i> Enable</a></li>
              <li class="divider"></li>
              <li *ngIf='deletebutton==="true"'><a data-toggle="modal" data-target="#delete" data-uid="1"><i
                    class="fa fa-trash-o"></i> Delete</a></li>
              <li *ngIf='deletebutton==="false"'><a data-toggle="modal" data-target="#alert" data-uid="1"><i
                    class="fa fa-trash-o"></i> Delete</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-5">
          <div class="search input-group">
            <input style="height:auto!important;border:none;" class="form-control" type="text" placeholder="Search"
              name="search" [(ngModel)]="filter">
            <div class="input-group-append">
              <i class="material-icons pr-2">search</i>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <button type="button" class="btn btn-secondary excel" (click)='exportasExcell()'> <i
              class="material-icons ng-star-inserted" style="color: #fff !important;">get_app</i> Export</button>

        </div>
        <div class="col-md-6">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row">

        <div class="tabl">
          <form>
            <table class="table table-bordered table-responsive" style="border-collapse:collapse;"
              [mfData]="datas | filter:filter" #mf="mfDataTable" [mfRowsOnPage]="10">
              <thead>
                <tr>
                  <th><input type="checkbox" id="inline-checkbox1" name="inline-checkbox1" value="option1"
                      (change)="checkUncheckAll()" class="form-check-input" [(ngModel)]="masterSelected">
                  </th>
                  <th>
                    #<mfDefaultSorter by="imei"> <i class="fa fa-sort" style="color:#fff!important;"></i>
                    </mfDefaultSorter>
                  </th>
                  <th>
                    STUDENT ID<mfDefaultSorter by="routeId"> <i class="fa fa-sort" style="color:#fff!important;"></i>
                    </mfDefaultSorter>
                  </th>
                  <th>
                    STUDENT NAME<mfDefaultSorter by="routeName"> <i class="fa fa-sort" style="color:#fff!important;"></i>
                    </mfDefaultSorter>
                  </th>
                  <th>
                    ROUTE ID<mfDefaultSorter by="SchoolStudentID"> <i class="fa fa-sort"
                        style="color:#fff!important;"></i>
                    </mfDefaultSorter>
                  </th>
                  <th>
                    ROUTE NAME <mfDefaultSorter by="FullName"> <i class="fa fa-sort" style="color:#fff!important;"></i>
                    </mfDefaultSorter>
                  </th>
                  <th>
                    WAYPOINT (BUS STOP)<mfDefaultSorter by="start_location"><i class="fa fa-sort"
                        style="color:#fff!important;"></i>
                    </mfDefaultSorter>
                  </th>
                  <th *ngIf = "deleteAssign">
                    Remove<mfDefaultSorter by="stop_location"><i class="fa fa-sort"
                        style="color:#fff!important;"></i>
                    </mfDefaultSorter>
                  </th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let item of mf.data | filter:filter; let i = index">
                  <tr [ngClass]="{'highlight' : item.isSelected == false}" colspan="10" data-toggle="collapse"
                    [attr.data-target]="item.dispid" class="accordion-toggle">
                    <td><input type="checkbox" id="inline-checkbox1" name="inline-checkbox1" value="option1"
                        (change)="isAllSelected()" class="form-check-input" style="text-align: center;"
                        [(ngModel)]="item.isSelected"></td>
                    <td>{{ i + 1 }}</td>
                    <td>{{ item.StudentID }}</td>
                    <td>{{ item.StudentName}}</td>
                    <td>{{ item.WayPoint.RouteId }}</td>
                    <td>{{ item.WayPoint.RouteName}}</td>
                    <td>{{ item.WayPoint.WayPointName }}</td>
                    <td *ngIf = "deleteAssign">
                      <button type="button" class="updea" (click)="deleteWaypointById(item.StudentID, item.WayPoint.RouteId,item.WayPoint.WayPointId )"><i
                        class="m-1 icon-close"></i></button>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="13">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                  </td>
                </tr>
              </tfoot>
            </table>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="delete" class="modal modal3 fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Delete Data</h4>
        <button type="button" class="close" data-dismiss="modal">×</button>

      </div>
      <div class="modal-body">
        <strong>Are you sure you want to remove </strong>

      </div>
      <div class="modal-footer">
        <button style="background-color: #eee!important;border: 1px #c3c1c1 solid;" type="button"
          class="btn btn-default" data-dismiss="modal">No</button>

        <button style="background-color: #eee!important;border: 1px #c3c1c1 solid;" type="button" id="del"
          class="btn btn-danger" data-dismiss="modal">Yes</button>
      </div>
    </div>
  </div>
</div>

<div id="disable" class="modal modal4 fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Disable Data</h4>
        <button type="button" class="close" data-dismiss="modal">×</button>

      </div>
      <div class="modal-body">
        <strong>Are you sure you want to Disable </strong>
      </div>
      <div class="modal-footer">

        <button style="background-color: #eee!important;border: 1px #c3c1c1 solid;" type="button"
          class="btn btn-default" data-dismiss="modal">No</button>

        <button style="background-color: #eee!important;border: 1px #c3c1c1 solid;" type="button" id="del"
          class="btn btn-danger" data-dismiss="modal">Yes</button>

      </div>
    </div>
  </div>
</div>

<div id="disable1" class="modal modal4 fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Enable Data</h4>
        <button type="button" class="close" data-dismiss="modal">×</button>

      </div>
      <div class="modal-body">
        <strong>Are you sure you want to Enable </strong>

      </div>
      <div class="modal-footer">
        <button style="background-color: #eee!important;border: 1px #c3c1c1 solid;" type="button"
          class="btn btn-default" data-dismiss="modal">No</button>

        <button style="background-color: #eee!important;border: 1px #c3c1c1 solid;" type="button" id="del"
          class="btn btn-danger" data-dismiss="modal">Yes</button>

      </div>
    </div>
  </div>
</div>

<div id="disable1" class="modal modal4 fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Enable Data</h4>
        <button type="button" class="close" data-dismiss="modal">×</button>

      </div>
      <div class="modal-body">
        <strong>Are you sure you want to Enable </strong>

      </div>
      <div class="modal-footer">
        <button style="background-color: #eee!important;border: 1px #c3c1c1 solid;" type="button" id="del"
          class="btn btn-danger" data-dismiss="modal">Yes</button>

        <button style="background-color: #eee!important;border: 1px #c3c1c1 solid;" type="button"
          class="btn btn-default" data-dismiss="modal">No</button>

      </div>
    </div>
  </div>
</div>

<div id="alert" class="modal modal4 fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Alert</h4>
        <button type="button" class="close" data-dismiss="modal">×</button>

      </div>
      <div class="modal-body">
        <strong>Please select any item for the list</strong>

      </div>
      <div class="modal-footer">

        <button style="background-color: #eee!important;border: 1px #c3c1c1 solid;" type="button"
          class="btn btn-default" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
</div>

<div *ngIf="showdisplay === false">
  <h3>! You Don't Have the Access</h3>
</div>