h3.adsc 
{
    margin-left: 0px;
    background: #75a7d5;
    padding: 10px;
    margin-top: 0px !important;
    color: #fff;
    font-size: 18px !important;
  }
  .btn-outline-primary
  {
      padding: 0px 11px 0px 10px !important;
      border: 1px #2e75b6 solid !important;
      margin-top: 20px;
      border-radius: 2px;
  }
  label 
  {
    color: rgba(0,0,0,.59);
    margin-top: 0px;
    font-weight: 600 !important;
    margin-bottom: 3px!important;
  }
  
  .frms {
    padding: 10px;
    margin-top: 0px;
  }
  
  .card {
    position: relative;
    display: inline-table;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid transparent;
    border-radius: 2px;
    width: 100%;
    max-width: 100%;
  }
  agm-map {
    height: 300px;
  }

  .addtrip-table td button 
{
  margin-right: 12px;
  min-width: 70px;
  padding: 8px 4px;
}
.addtrip-table .success 
{
  background: #00c851;
  border: 1px solid #00c851;
  color: #fff;
  font-size: 14px;
}
.addtrip-table .success:hover
{
  background:#006228;
  border: 1px solid #006228;
}
.addtrip-table .success:active
{
  background:#006228;
  border: 1px solid #006228;
}

.addtrip-table .info 
{
  background: #33b5e5;
  border: 1px solid #33b5e5;
  color: #fff;
  font-size: 14px;
}
.addtrip-table .info:hover
{
  background:#14799e;
  border: 1px solid #14799e;
}
.addtrip-table .info:active
{
  background:#14799e;
  border: 1px solid #14799e;
}

.addtrip-table .warning 
{
  background: #fb3;
  border: 1px solid #fb3;
  color: #fff;
  font-size: 14px;
}
.addtrip-table .warning:hover
{
  background:#c80;
  border: 1px solid #c80;
}
.addtrip-table .warning:active
{
  background:#c80;
  border: 1px solid #c80;
}

.terminate-buttons .danger {
  background:#ce0012;
  border: 1px solid #ce0012;
  height: 50px;
  color: white;
}
.terminate-buttons .danger:hover {
  background:#ce0012;
  border: 1px solid #ce0012;
}
.terminate-buttons .danger:hover 
{
  background: #ff3547;
  border: 1px solid #ff3547;
  color: #fff;
  font-size: 14px;
}
.terminate-buttons button {
  height: 40px;
}
.terminate-buttons {
  display: flex;
  align-items: center;
    float: right;
}

.trip-modals {
  text-align: center;
}

.trip-modals button {
  margin-right: 50px;
}

button.disabled {
  background: gray !important;
}

.table > thead:first-child > tr:first-child > th {
  padding: 10px !important;
}
.addtrip-table {
  overflow: scroll;
  padding: 0px;
  height: 400px;
}
.addtrip-table .table {
  overflow-x: scroll;
  overflow-y: scroll;
  width: 1000px;

}
.w-list {
  padding: 0px;
  margin-top: 10px;
}
.terminate-buttons {
  margin-left: 77%;
}
.s-t-button {
  width: 1000px;
}