asdasdasdasdadsa
<div *ngIf="showdisplay === true">
  <p>lknlasjdlfkjahslfjl</p>

</div>
<div *ngIf="showdisplay === false">
  <p>lknlasjdlfkjahslfjl</p>

</div>

<div class="row" style="background: #fff;">

  <div class="col-12 col-lg-3 mb-3">
    <div class="card">
      <div class="card-body">
        <div class="dash-box dash-box-color-1">
          <div class="dash-box-icon">
            <i _ngcontent-c18="" class="fa m-1 fa-building ng-star-inserted"></i>
          </div>
          <div class="dash-box-body">
            <span class="dash-box-title">&nbsp;</span>
            <span class="dash-box-count">Number of Schools</span><br>
            <span class="dash-box-title">{{dashboarddaat.schoolCount}}</span>

          </div>

          <a (click)="directpage('main/schoolmanagement')">
            <div class="dash-box-action">
              <button type="button" class="btn btn-info mb-3 ">More Info</button>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-3 mb-3">
    <div class="card">
      <div class="card-body">
        <div class="dash-box dash-box-color-2">
          <div class="dash-box-icon">
            <i _ngcontent-c18="" class="fa m-1 fa-vcard ng-star-inserted"></i>
          </div>
          <div class="dash-box-body">
            <span class="dash-box-title">&nbsp;</span>
            <span class="dash-box-count">Number of School Administration Users</span><br>
            <span class="dash-box-title">{{dashboarddaat.schooladminCount}}</span>
          </div>
          <a (click)="directpage('main/usermanagements')">
            <div class="dash-box-action">
              <button type="button" class="btn btn-info mb-3 ">More Info</button>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-3 mb-3">
    <div class="card">
      <div class="card-body">
        <div class="dash-box dash-box-color-2">
          <div class="dash-box-icon">
            <i _ngcontent-c18="" class="fa m-1 fa-building-o ng-star-inserted"></i>
          </div>
          <div class="dash-box-body">
            <span class="dash-box-title">&nbsp;</span>
            <span class="dash-box-count">Number of Schools without Users</span><br>
            <span class="dash-box-title">{{dashboarddaat.numberofschoolwithoutuserCount}}</span>
          </div>
          <a (click)="directpage('main/assignusertocynosure')">
            <div class="dash-box-action">
              <button type="button" class="btn btn-info mb-3 ">More Info</button>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-3 mb-3">
    <div class="card">
      <div class="card-body">
        <div class="dash-box dash-box-color-2">
          <div class="dash-box-icon">
            <i class="fa m-1 fa-vcard-o ng-star-inserted"></i>
          </div>
          <div class="dash-box-body">
            <span class="dash-box-title">&nbsp;</span>
            <span class="dash-box-count">Number of Users without Schools</span><br>
            <span class="dash-box-title">{{dashboarddaat.numberofuserwithoutschoolCount}}</span>
          </div>

          <a (click)="directpage('main/numberofuserswithoutschools')">
            <div class="dash-box-action">
              <button type="button" class="btn btn-info mb-3 ">More Info</button>

            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="row" style="background: #fff;">
  <div class="col-12">
    <div class="full">
      <div class="card">

        <div class="tabl">
          <table class="table table-striped" width="100%">
            <thead>
              <tr>
                <th scope="col">School Name</th>
                <th scope="col">Number of School Admins</th>
                <th scope="col">Number of Parents</th>
                <th scope="col">Number of Students</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of dashboarddaat.school">
                <td>{{data.schoolName}} - {{data.schoolID}}</td>
                <td>{{data.alternate_Contact_Number}}</td>
                <td>{{data.alternate_Contact_Person_contact_number}}</td>
                <td>{{data.alternate_Contact_Person_mobile_number}}</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>

<style>
  .table>tbody>tr>td,
  .table>tbody>tr>th,
  .table>tfoot>tr>td,
  .table>tfoot>tr>th,
  .table>thead>tr>td,
  .table>thead>tr>th {
    text-align: left;
  }
</style>