<div class="container">
  <div class="row"><br><br>
    <h3 class="adsc">
      <i class="fa fa-calendar"></i> &nbsp;ACADEMIC</h3>
    <div class="col-md-12" style="padding-right: 0px;
     padding-left: 0px;">
      <div class="panel-heading plan-heading data">
        <ul>
          <li><b>Academic Group id</b> : AMS</li><span> </span>
          <li><b>School id</b> : Abacus Montessori School</li><span> </span>
          <li><b>Academic Group Name</b> : Abacus Montessori School</li><span> </span>
          <li><b>Weekday Start</b> : 12/12/2018</li><span> </span>
          <li><b>Number of Week Days</b> : 4</li><span> </span>
          <li><b>Start Class</b> :10 clk</li><span> </span>
          <li><b>End Class</b> : 3 clk</li><span> </span>
        </ul>
      </div>
    </div>