<div class="container">
  <div class="row"><br><br>
    <h3 class="adsc">
      <i class="material-icons ng-star-inserted">business</i> &nbsp;RFID</h3>
    <div class="col-md-12" style="padding-right: 0px;
     padding-left: 0px;">
      <div class="panel-heading plan-heading data">
        <ul>
          <li><b>School Student ID</b> : {{viewrfid.schoolStudentID}}</li><span> </span>
          <li><b>RFID</b> : {{viewrfid.rfiddata}}</li><span> </span>
          <li><b>Unique Number</b> : {{viewrfid.uniquenumber}}</li><span> </span>
          <li><b>Type</b> : {{viewrfid.type}}</li><span> </span>
          <li><b>Frequency</b> : {{viewrfid.freequency}}</li><span> </span>
          <li><b>Capacity</b> : {{viewrfid.capacity}}</li><span> </span>
          <li><b>Status</b> : {{viewrfid.status}}</li><span> </span>
          <li><b>Driver ID</b> : {{viewrfid.driver_id}}</li><span> </span>
          <li><b>Updated by</b> : {{viewrfid.updateName}}</li><span> </span>
          <li><b>Last update date & time</b> : {{viewrfid.updateDate | cynosureDateTimeZone:"YYYY-MM-DD HH:mm:ss"}}</li>
          <span> </span>
        </ul>
      </div>
    </div>

  </div>
</div>