.px-gdn-btn {
    background: linear-gradient(60deg, #2e75b6 0%, #9dc3e6 100%) !important;
    color: #fff !important;
  
  }
  
  h3.adsc {
    font-size: 15px !important;
    font-weight: 700;
    text-transform: uppercase;
    background: #75a7d5;
    padding: 10px;
}