h3.adsc {
    margin-left: 0px;
    background: #75a7d5;
    padding: 10px;
    margin-top: 0px !important;
    color: #fff;
  }
 
  .frms {
    padding: 10px;
    margin-top: 0px;
  }
  .form-group {
    margin-bottom: 0px;
  }
  .btn-block+.btn-block {
    margin: 3px 4px 3px 15px;
}
  .card {
    position: relative;
    display: inline-table;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid transparent;
    border-radius: 2px;
    width: 100%;
    max-width: 100%;
  }
  .mail-option {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
  }
  .mail-option .chk-all, .mail-option .btn-group a.btn {
    background: none repeat scroll 0 0 #fcfcfc;
    border: 1px solid #e7e7e7;
    border-radius: 3px !important;
    color: #afafaf;
    display: inline-block;
    padding: 5px 10px;
  }
  .btn-group{
    margin: 1px 5px 0px 4px;
  }
  
  .btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }
  .mail-option a {
    color: #2e75b6;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
  }
 
  .form-check-input {
    position: absolute;
    margin-top: 0.3rem;
    margin-left: -0.25rem;
  }
  .form-control {
    display: block;
    width: 100%;
    height: calc(2.4125rem + 2px);
  }
  .px-gdn-btn {
    background: linear-gradient(#2e75b6 100%, #9dc3e6 100%) !important;
    color: #fff !important;
 
  }
  .table-responsive {
    display: inline-table;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.userrole-card
{
    padding: 0px;
}
.userrole-card h3.adsc 
{
  margin-bottom: 0px;
}

