<h2>School Calendar</h2>
<p>A full list of upcoming events at The English School, Kuwait in Kuwait.</p>
<table class="table table-striped">

  <th data-sort="name">Sunday 28th <span>October 2018</span></th>

  <tbody>
    <tr>
      <td><span style="padding-right: 3em;color: #3980c2;">02:30pm to 05:00pm</span> <span>KFSAC Years 3/4 Boys Unihoc
          Tournament. </span></td>
    </tr>
    <tr>
      <td style="background: #e7e8ea;"><span style="padding-right: 3em;color: #3980c2;">All day</span> <span>KFSAC
        </span></td>
    </tr>

    <th data-sort="name">Sunday 28th <span>October 2018</span> </th>

  <tbody>
    <tr>
      <td><span style="padding-right: 3em;color: #3980c2;">02:30pm to 05:00pm</span> <span>KFSAC Years 3/4 Boys Unihoc
          Tournament. </span></td>
    </tr>
    <tr>
      <td style="background: #e7e8ea;"><span style="padding-right: 3em;color: #3980c2;">All day</span> <span>KFSAC
        </span></td>
    </tr>

    <th data-sort="name">Tuesday 30th<span> October 2018</span></th>
  <tbody>
    <tr>
      <td><span style="padding-right: 3em;color: #3980c2;">02:30pm to 05:00pm</span> <span>KFSAC Years 3/4 Boys Unihoc
          Tournament. </span></td>
    </tr>
    <tr>
      <td style="background: #e7e8ea;"><span style="padding-right: 3em;color: #3980c2;">All day</span> <span>KFSAC
        </span></td>
    </tr>

</table>