h3.adsc {
    margin-left: 0px;
    background: #75a7d5;
    padding: 10px;
    margin-top: 0px !important;
    color: #fff;
  }
  .btn-outline-primary{
      padding: 0px 11px 0px 10px !important;
      border: 1px #2e75b6 solid !important;
      margin-top: 20px;
      border-radius: 2px;
  }
  label {
    color: rgba(0,0,0,.59);
    margin-top: 0px;
    font-weight: 600 !important;
    margin-bottom: 3px!important;
  }
  
  .frms {
    padding: 10px;
    margin-top: 0px;
  }
  
  .card {
    position: relative;
    display: inline-table;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0px solid transparent;
    border-radius: 2px;
    width: 100%;
    max-width: 100%;
  }
  .mail-option {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
  }
  .mail-option .chk-all, .mail-option .btn-group a.btn {
    background: none repeat scroll 0 0 #fcfcfc;
    border: 1px solid #e7e7e7;
    border-radius: 3px !important;
    color: #afafaf;
    display: inline-block;
    padding: 5px 10px;
  }
  .btn-group{
    margin: 1px 5px 0px 4px;
  }
  
  .btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }
  .mail-option a {
    color: #2e75b6;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
  }
  
  .dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    float: right;
    text-align: left;
    color: rgba(0, 0, 0, 0.59);
    margin-top: 4px;
  }
  
  .bg-primary {
    border-color: #2e75b6 !important;
  }
  
  .px-gdn-btn {
    background: linear-gradient(60deg, #2e75b6 0%, #9dc3e6 100%) !important;
    color: #fff !important;
  
  }
  .px-4{
    border-radius: 0px !important;
    padding-left: 1.2rem !important;
    padding-right: 1.2rem !important;
  }