.btn-block {
    display: block;
    width: auto!important;
}
.multistep-form-section{
    background: #fff;
}

.header 
  {
    width: 100%;
    float: left;
    background: #74a7d4;
    margin-bottom: 2em;
    border: 2px #74a7d4 solid;
    padding: 0px;
    height: 45px;
    margin: 0px;
}
h3.adsc 
{
    font-size: 14px !important;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}
.card 
{
    max-width: 100%;
    margin-top: 0px !important;
    border: none;
}
.frms 
{
    padding: 10px;
    margin-top: 0px;
}
h3.pl-0 
{
    background: #fff !important;
    color: #74a7d4 !important;
    padding: 10px;
    text-transform: capitalize;
    font-size: 16px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.frms strong 
{
    margin-left: 0px;
}

