h3.adsc {
  margin-left: 0px;
  background: #75a7d5;
  padding: 10px;
  margin-top: 0px !important;
  color: #fff;
}

.frms {
  padding: 10px;
  margin-top: 0px;
}
.form-group {
  margin-bottom: 0px;
}
.card {
  position: relative;
  display: inline-table;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0px solid transparent;
  border-radius: 2px;
  width: 100%;
  max-width: 100%;
}
.mail-option {
  display: inline-block;
  margin-bottom: 10px;
  width: 100%;
}
.mail-option .chk-all, .mail-option .btn-group a.btn {
  background: none repeat scroll 0 0 #fcfcfc;
  border: 1px solid #e7e7e7;
  border-radius: 3px !important;
  color: #afafaf;
  display: inline-block;
  padding: 5px 10px;
}
.btn-group{
  margin: 1px 5px 0px 4px;
}

.btn-group, .btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.mail-option a {
  color: #2e75b6;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.form-check-input {
  position: absolute;
  margin-top: 0.3rem;
  margin-left: -0.25rem;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(2.4125rem + 2px);
}
.material-switch > input[type="checkbox"] {
  display: none;
}

.material-switch > label {
  cursor: pointer;
  height: 0px;
  position: relative;
  width: 40px;
}

.material-switch > label::before {
  background: rgb(0, 0, 0);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  content: '';
  height: 16px;
  margin-top: -8px;
  position:absolute;
  opacity: 0.3;
  transition: all 0.4s ease-in-out;
  width: 40px;
}
.material-switch > label::after {
  background: rgb(255, 255, 255);
  border-radius: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  content: '';
  height: 24px;
  left: -4px;
  margin-top: -8px;
  position: absolute;
  top: -4px;
  transition: all 0.3s ease-in-out;
  width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
  background: inherit;
  opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
  background: inherit;
  left: 20px;
}
.px-gdn-btn {
  background: linear-gradient(60deg, #2e75b6 0%, #9dc3e6 100%) !important;
  color: #fff !important;
  margin-top: 3em;
}
