<div class="row">
  <div class="cols  mb-3">
    <h3 class="adsc">
      <i class="material-icons ng-star-inserted">business</i> &nbsp;Bulk Upload
      History
    </h3>
  </div>
</div>
<div class="row">
  <div class="card">
    <Br />
    <!-- <div *ngIf="deleteLoading" id="snackbar" class="show"> {{loadingmsg}}</div> -->
    <div class="headers">
      <div class="col-md-12">
        <div class="row col-md-12">
          <div class="col-md-6">
            <div class="search input-group">
              <input
                style="height:auto!important;"
                class="form-control"
                type="text"
                placeholder="Search"
                name="search"
                [(ngModel)]="filter"
              />

              <div class="input-group-append">
                <i class="material-icons pr-2">search</i>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <button
              type="button"
              class="btn btn-secondary excel pull-right"
              (click)="exportasExcell()"
            >
              <i
                class="material-icons ng-star-inserted"
                style="color: #fff !important;"
                >get_app</i
              >
              Excel
            </button>
          </div>
        </div>
      </div>
    </div>

    <form class="col-md-12">
      <table
        class="table table-bordered table-responsive"
        style="border-collapse:collapse;"
        [mfData]="datas | filter: filter"
        #mf="mfDataTable"
        [mfRowsOnPage]="10"
      >
        <thead>
          <tr>
            <th>
              Type
              <mfDefaultSorter by="type">
                <i class="fa fa-sort" style="color:#fff!important;"></i
              ></mfDefaultSorter>
            </th>
            <th>
              Update by
              <mfDefaultSorter by="updateName">
                <i class="fa fa-sort" style="color:#fff!important;"></i
              ></mfDefaultSorter>
            </th>
            <th>
              Last update Date & Time
              <mfDefaultSorter by="updatedAt">
                <i class="fa fa-sort" style="color:#fff!important;"></i
              ></mfDefaultSorter>
            </th>
            <th>
              Status
              <mfDefaultSorter by="status">
                <i class="fa fa-sort" style="color:#fff!important;"></i
              ></mfDefaultSorter>
            </th>
            <!-- <th>
                    Error Message <mfDefaultSorter by="errorMessage"><i class="fa fa-sort" style="color:#fff!important;"></i></mfDefaultSorter>
                  </th> -->
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of mf.data">
            <tr>
              <td>{{ convertTypetoDisplay(item.type) }}</td>
              <td>{{ item.updateName }}</td>
              <td>{{ item.updatedAt | date: "dd/MM/yyyy HH:MM:ss" }}</td>
              <td style="text-align: center;" *ngIf="item.status == 1">
                Completed
              </td>
              <td style="text-align: center;" *ngIf="item.status == 0">
                Processing
              </td>

              <!-- <td>{{item.errorMessage}}</td> -->
            </tr>
          </ng-container>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="11">
              <mfBootstrapPaginator
                [rowsOnPageSet]="[5, 10, 25]"
              ></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>
    </form>
  </div>
</div>
