<div class="container  mb-4">
    <h3>Current Trip Details</h3>
</div>

<div class="main-div" (click)="viewTrip()" style="height: 330px;">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-xs-12 current-container">

                <table class="mt-2">
                    <tr>
                        <th style="width: 45%;">Driver Name</th>
                        <td style="width: 10%;">:</td>
                        <td style="width: 45%;"> Mr. S.Lokesh</td>

                    </tr>
                    <tr>
                        <th>Driver ID</th>
                        <td>:</td>
                        <td> ABC252</td>

                    </tr>
                    <tr>
                        <th>Route Name</th>
                        <td>:</td>
                        <td> Vadapalani</td>

                    </tr>
                    <tr>
                        <th>Route ID</th>
                        <td>:</td>
                        <td> ROUT21</td>

                    </tr>
                    <tr>
                        <th>Date</th>
                        <td>:</td>
                        <td> 24th Aug 2019</td>

                    </tr>
                    <tr>
                        <th>Time</th>
                        <td>:</td>
                        <td> 10:52 AM</td>

                    </tr>
                </table>

            </div>

            <div class="col-md-4 col-xs-12 current-container2">

                <p class="student-count text-center">30</p>
                <p class="students text-center">Students are Travelling</p>

            </div>
        </div>

    </div>
</div>
<div class="container mt-4 mb-4">
    <h3>Upcoming Trip Details</h3>
</div>

<div class="main-div" style="height: 330px;">
    <div class="container">

        <div class="row">
            <div class="col-md-8 col-xs-12 upcoming-container">

                <table class="mt-2">
                    <tr>
                        <th style="width: 45%;">Driver Name</th>
                        <td style="width: 10%;">:</td>
                        <td style="width: 45%;"> Mr. S.Lokesh</td>

                    </tr>
                    <tr>
                        <th>Driver ID</th>
                        <td>:</td>
                        <td> ABC252</td>

                    </tr>
                    <tr>
                        <th>Route Name</th>
                        <td>:</td>
                        <td> Vadapalani</td>

                    </tr>
                    <tr>
                        <th>Route ID</th>
                        <td>:</td>
                        <td> ROUT21</td>

                    </tr>
                    <tr>
                        <th>Date</th>
                        <td>:</td>
                        <td> 24th Aug 2019</td>

                    </tr>
                    <tr>
                        <th>Time</th>
                        <td>:</td>
                        <td> 10:52 AM</td>

                    </tr>
                </table>

            </div>

            <div class="col-md-4 col-xs-12 current-container2">

                <p class="student-count1 text-center">60</p>
                <p class=" students text-center">Students are Travelling</p>

            </div>
        </div>

    </div>
</div>